# Virtuoso files /data/db
/data/db/*
!/data/db/toLoad
!/data/db/toLoad/*

# Migrations
config/migrations/*
!config/migrations/[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]-*
*sensitive*

/data/files/*
/data/backups/*
/data/token-cache
/data/conversion

# Search data
data/elasticsearch/*
config/search/*.store

docker-compose.override.yml
config/project-scripts/*.txt

*~
